/* Main Body */

body {
    margin: 0;
    padding: 0;
    background: #232527;
    font-family: arial;
    font-weight: normal;
    font-style: normal;
    color: white;
}

/* Header */

.header {
    background: #191B1D;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    line-height: 8vh;
}

.header .site-title {
    height: 100%;
    width: 100%;
    font-size: 4vh;
}

/* Navigation */

.topbar {
    background: #191B1D;
    text-align: center;
    font-family: arial;
    font-size: 2.25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    height: 3vh;
}

.topbar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row;
}

.topbar ul li {
    height: 100%;
    width: 12vh;
    padding: 0;
}

.topbar ul li a {
    width: 75%;
    text-decoration: none;
    color: white;
}

.topbar ul li a:hover {
    color: rgb(101, 186, 255);
    font-size: 2.5vh;
    line-height: 0;
    text-shadow: white;
}

/* Welcome */

.welcome {
    height: 54.3vh;
}

.welcome-title {
    text-align: center;
    font: 'roboto-light';
    font-size: 6vh;
    line-height: 12vh;
}

.welcome-message {
    text-align: center;
    font: arial;
    font-size: 2.8vh;
    color: rgb(173, 173, 173);
    width: 60%;
    margin: 0 20%;
    line-height: 4vh;
}

.welcome-message a {
    text-decoration: none;
    color: rgb(101, 186, 255);
}

.welcome-message a:hover {
    color: rgb(74, 138, 190);
}